<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.exhibitor.parsnip.libpic">
    <application>
<activity
android:name = "org.horaapps.leafpic.activities.TrollEvzoneInfusibleActivity"
android:exported="false"
android:label="@string/trademark_adrenalin_enigmatic"
android:launchMode="singleTop"
/>

    </application>
</manifest>
