<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.expellable.peregrine.nominal.libpic">
    <application>
<activity
android:name = "org.horaapps.leafpic.about.DenmarkTowheeHookActivity"
android:exported="false"
android:label="@string/japan_foal_dank"
/>

    </application>
</manifest>
